
@use "../abstracts/variables" as *;

.properties {
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $primary-color;
  }

  .properties-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }
}
