
@use "../abstracts/variables" as v;

.footer {
  text-align: center;
  padding: v.$spacing-md;
  background-color: v.$primary-color;
  color: v.$light-color;
  font-size: 0.9rem;

  p {
    margin: 0;
  }
}
