
@use "../abstracts/variables" as v;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: v.$spacing-md v.$spacing-lg;
  background-color: v.$primary-color;
  box-shadow: v.$shadow-sm;

  &__brand img {
    height: 50px;
    object-fit: contain;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: v.$spacing-lg;
    margin: 0;
    padding: 0;

    li a {
      color: v.$light-color;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: v.$secondary-color;
      }
    }
  }
}
