
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.searchbar {
  display: flex;
  flex-wrap: wrap;
  gap: v.$spacing-md;
  padding: v.$spacing-md;
  background: v.$gray-100;
  border-radius: v.$border-radius-md;
  @include m.card-shadow(0.1);
  margin: v.$spacing-lg auto;
  max-width: 1200px;

  input,
  select {
    flex: 1;
    min-width: 180px;
    @include m.input-style;
  }

  button {
    @include m.button(v.$secondary-color, v.$secondary-color-hover);
  }
}
