
@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;

@use "./base/base";
@use "./base/reset";
@use "./base/typography";

@use "./components/navbar";
@use "./components/card";
@use "./components/footer";
@use "./components/forms";

@use "./layout/header";

@use "./pages/home";
@use "./pages/propertyDetail";
@use "./pages/properties";
@use "./pages/addproperty";

@use "./themes/default";

body {
  margin: 0;
  font-family: $font-stack;
  background-color: $light-color;
  color: $dark-color;
}

h1 {
  color: $primary-color;
}
